body{
    font-family: Helvetica;
    color:#d6d6d6;
}

.tit{
color:#d6d6d6;
font-family: helvetica;
text-transform: uppercase;
font-size: 30px;
padding-top: 15px;
font-weight: bold;
}


.imgGeneral{
    width:200px;
    height:200px;
    border-radius:150px;
    margin-top: 40px;
}


.linkedin{
font-weight: lighter;
}

.cssLineaLinkedin{
    display: inline-block;
}

.IconoMENSAJE{
    width: 40px;
}

.MENSAJE{
    font-weight: lighter;

}