div.modulocomen{
    background-color: rgb(21, 255, 0); /* ???????? que es esto, donde aplica???? */
    height: 100px;
    width: 100px;
}

.table{
color: rgb(182, 182, 182);
background-color: #34343457;
border-radius: 15px;
font-family: Helvetica, sans-serif;


}



h1{
    color: rgb(182, 182, 182);
    font-family: Helvetica, sans-serif;
    border: none;
}

.Alerta_baja{
    background-color: #ffce54;
    

}
.Alerta_media{
    background-color: #fc6e51;
    
}
.Alerta_alta{
    background-color: #ed5565;
    
}
div.nivel1_a{
    background-color: #ffce54;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border:solid; */
    
}
div.nivel2_a{
    background-color: #fc6e51;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border:solid; */
}
div.nivel3_a{
    background-color: #ed5565;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border:solid; */
}
.tituloalerta{
    
    border: black;
    text-decoration: none;
   
}
.titulocomen{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.table td{
    /* border: none; */
    /* border-top: none; */
    border-top: solid #c2c2c250 1px; /*  esto cambia las barras separadoras de la tabla */
    
}

.NOMBREUSUARIO{ /* primera caja del formulario */
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    
    
    
}

.COMENTARIO{ /* segunda caja del form */
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    margin: 10px;
    font-family: Helvetica, sans-serif;
    
}

.INTROICONO{
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Helvetica, sans-serif;
}

.INTROALERTA{
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Helvetica, sans-serif;
}

.BotoncitoENVIAR{
    background-color: #48cfad;
    border-radius: 15px;
    margin: 10px;
    border-color: #48cfadb6;
    font-family: Helvetica, sans-serif;
}


