/*LETRA TODA LA PAGINA*/
*{
    font-family:Arial, Helvetica, sans-serif;
}

div.modulocomen{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.Disponibilidad_Total{
    background-color:#48cfad;
    

}
.Disponibilidad_Intermitente{
    background-color: #ffce54;
    
}
.Disponibilidad_Nula{
    background-color: #ed5565;
    
}
div.nivel1_e{
    background-color: #48cfad;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border:solid; */
    
}
div.nivel2_e{
    background-color: #ffce54;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border:solid; */
}
div.nivel3_e{
    background-color: #ed5565;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border:solid; */
}
.tituloalerta{
    
    border: black;
}
.titulocomen{
    text-decoration:  black;
    margin-top: 20px;
    margin-bottom: 20px;

}

.table td{
    border-top: solid #c2c2c250 1px;
}


.NOMBREUSUARIO{ /* primera caja del formulario */
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    padding-left: 10px;

}

.COMENTARIO{ /* segunda caja del form */
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    margin: 10px;
    padding-left: 10px;
  
}

.INTROICONO{
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    
}

.INTRODISPONIBILIDAD{
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
  
}

.BotoncitoENVIAR{
    background-color: #48cfad;
    border-radius: 15px;
    margin: 10px;
    border-color: #48cfadb6;
    
}

