*{
    font-family:Helvetica, sans-serif;
}

body {
    background-color: #170d18;
    color:white (51, 51, 51);
    font-size: 25px;
    padding-top: 100px;
}

#BarraSup{
    font-family: ailerons; 
    font-size: 45px;
    background: #322f32;
    
    
}

#TextoBarra{
    background: rgba(237,85,100,1);
background: -moz-linear-gradient(left, rgba(237,85,100,1) 0%, rgba(255,207,84,1) 50%, rgba(72,207,173,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,85,100,1)), color-stop(50%, rgba(255,207,84,1)), color-stop(100%, rgba(72,207,173,1)));
background: -webkit-linear-gradient(left, rgba(237,85,100,1) 0%, rgba(255,207,84,1) 50%, rgba(72,207,173,1) 100%);
background: -o-linear-gradient(left, rgba(237,85,100,1) 0%, rgba(255,207,84,1) 50%, rgba(72,207,173,1) 100%);
background: -ms-linear-gradient(left, rgba(237,85,100,1) 0%, rgba(255,207,84,1) 50%, rgba(72,207,173,1) 100%);
background: linear-gradient(to right, rgba(237,85,100,1) 0%, rgba(255,207,84,1) 50%, rgba(72,207,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5564', endColorstr='#48cfad', GradientType=1 );

color: transparent;
-webkit-background-clip: text;

/* estos dos ultimos pasos son importantes para que "clippee" el degradado al texto y no como background  */

font-size: 35px;
}

#texto1{
    color:  #d6d6d6;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    text-align : justify;

   

}
.alert-heading{
    font-family: Helvetica, sans-serif;
}
.TITULO{
    text-transform: uppercase;
    color:white;
    font-family: Helvetica, sans-serif;
}
.TITULO1{
    text-transform: uppercase;
    color:black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

div.cssEvento {
    color: white;
    height: 300px;
    background-color: #48cfad;
    /* border: 3px solid white; */
    position: relative;
    /* d */
}


button.cssBotonEvento {
    width: 10%;
    height: 50px;
}
div.cssMarginBotom {
    margin-bottom: 30px;
    /* margin-top: 40px; */
}
.cssCasita {
    width:50px;
    height:50px;
    margin-left: 30px;

} 

.carousel-item > img { 
width:100%;
max-height: 100%;
min-height: 80%;

}
div.eventoBoton1 {
margin-top:20px;
height:75px;
width: auto;
margin-left: 20px;
margin-right: 20px;
background-color: #3434349f;
border: 3px solid #34343479;
text-align: center;
font-family: Helvetica, sans-serif;
color: rgb(182, 182, 182);
border-radius: 30px;
padding-top: 5px;

}





/* Boton e n general */
.nav-link{
    color: rgb(182, 182, 182);    
}
.nav-link:hover{
    background-color: #c5cfcd;
    border-radius: 30px;
    height: 60px;
    color: #343434;
    width: auto;
}

/* Este de abajo es para el boton de las notificaciones */
.botonmensajes{
    display: inline-block;
    margin-left: 5px;
    color:#343434;
    border:none;
    background-color: #37bc9be5;
    border-radius: 50px;
    padding-right: 11px;
    padding-left: 11px;
     
}
.botonmensajes:hover{
    background-color:#d6d6d6;


}
/* a:hover{
    background-color: #48cfad;
    border-radius: 30px;
    height: 60px;
    width: auto;
    color: #343434;
    
    
} */

.OpcionesEvento{
    color: rgb(255, 255, 255);
    /* padding-top: 220px; */
    /* padding-left: 385px; */
    bottom: 0%;
    right: 0%;
    position: absolute;   

}
.cssOpcionesMapa {
    bottom: 1px;
    left: 6px;
    position: absolute;  
}
.iconoMapa {
    width:auto;
    height: 45px;
    margin-bottom:5px;
}


.BotonOPCIONES{
    color: #d6d6d6;
    background-color:#170d18;
    border-top-left-radius: 20px;
    border-color: #170d18;
    /* border-width: 5px; */
    bottom:-10px;
    font-family: Helvetica, sans-serif;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    text-transform: uppercase;
    font-size: 20px;
  
}




.btn btn-primary{
    background-color: blueviolet;
}

img.cssFotoDelEvento{
    background-repeat: norepeat;
    width:100%;
    height: 100%;

}
/* a#to_top {
    border-radius:5px;
    -moz-border-radius:5px;
    
    -ms-border-radius:5px;
    background:#63B52F;
    color:#333333;
    font:bold 13px Arial,Sans-serif;
    padding:6px 10px;
    text-align:center;
    text-decoration:none;
    bottom:8px;
    position:fixed;
    right:8px;
    font:bolder 32px 'Amatic SC', cursive
   }
   a#to_top:hover {
    background:#000;
    color:#FFF;
    text-decoration:none
   } */

   a#to_top {
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 8%;
    bottom: 20px;
    background: rgba(39, 174, 97, 0.5) url("https://i.imgur.com/nVECxfN.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    transition: all 0.2s ease-in-out 0s;
    outline: 0; 
   }
   
/* CSS de admin  */
.adminInput{ /* caja del form */
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    margin: 10px;
    font-family: Helvetica, sans-serif;
    
}
.adminInputEdita {
    background-color:rgba(228, 228, 228, 0.897);
    border-radius: 15px;
    margin: 10px;
    font-family: Helvetica, sans-serif;
    width:100%;
}
.adminInputTitulo {
    display: inline-block;
    width: 38%;
    
}
.adminInputDescripcion {
    display: block;
    width: 38%;
    margin-bottom: 0%;
}
/* / */


div.coords, .texto_blanco {
    color: white;
}
.FOOTERCONTAINER {
    border-top: solid #6d6d6d 3px;
    padding: 0px;
    width: 100%;
    height: 150px;
    /* background-color: rgb(39, 39, 39); */
    color: #d6d6d6;
    bottom: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;

    /* position:absolute; */
    /* line-height: 40px; */

}
.colsraros {
margin-bottom:10px;

} 
div.cssSiguenosenlasredes {
    font-size:30px;
}
.cssEnlasredes {
    margin-top: -35px;
}
.cssContacto2linea{
    font-size:25px;
    margin-top: -15px;
}
img.cssRedes {
    margin-top: -10px;
    width:40px;
    height: 40px;
    margin-right:20px;  
}
/* Esto sirve para que los iconos se desplacen 5px cuando pases x encima */
img.cssRedes:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

a.enlaceUS{
    color: #d6d6d6;
}

.SobreNosotros{
    color: #d6d6d6;
}

.SobreNosotros:hover{
    color: #d6d6d6;

}
